<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.dev.lyhoangvinh.mvparchitecture">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_logo_kotlin"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_logo_kotlin"
            android:supportsRtl="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.dev.lyhoangvinh.mvparchitecture.ui.feature.comics.IssuesActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.feature.avgle.AvgleActivity" android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".ui.feature.avgle.search.SearchActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.feature.avgle.detail.DetailActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.feature.splash.SplashActivity"
                  android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <receiver android:name=".receiver.NetworkReceiver"/>
    </application>

</manifest>